<html>
	<head>
		<!-- Imports -->

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="http://code.jquery.com/jquery.min.js"></script>

		{% block title %}
		<title>IsiProgress</title>
		{% endblock %}

		
		<style>

			#titleISI {
				text-align: center;
			}
			body {
				font-family: "Roboto";
			}
			th {
				text-align: center;
				max-width:200px;
				align-content: center; 
			}
			.listofsubjects {
				-webkit-columns: 200px 3;
				-moz-columns: 200px 3;
				columns: 300px 3;
			}
			a {
					font-size: 14px;
			}
			.progress_bar {
					align-content: center;
					max-width: 300px;
					padding-left: 50px;
			}
			 li{
					list-style-type: none;
			}
		</style>
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
	<script src="{% static 'functions.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		{% block head %}
		{% endblock %}
	</head>
	<body>

		<div class="jumbotron jumbotron-fluid bg container-fluid"  id="top">
			<div class="container" id="titleISI">
				<a href="{% url 'carrerProgress:index' %}" style="text-decoration:none"><h1 class="display-4 font-weight-bold" style="color:white;font-size:150px;" >ISI-Progress</h1></a>
				{% block subtitle %}
					<h2 style="color:white;font-size:50px;">{{ user.username }}</h2>
				{% endblock %}
				</br>
				{% if user.is_authenticated %}
					<a class="btn btn-outline-light" style="width:152" href="{% url 'carrerProgress:index' %}"><i class="fas fa-home"></i> Home </a>
					<a class="btn btn-outline-info" style="width:152" href="http://sysacadweb.frre.utn.edu.ar/"><i class="fas fa-book"></i> Sysacad</a>
					<a class="btn btn-outline-success" style="width:152" href="http://frre.cvg.utn.edu.ar"><i class="fas fa-book-reader"></i> Campus Virtual</a>
					<a class="btn btn-outline-light" style="width:152" href="http://frre.utn.edu.ar"><i class="fas fa-university"></i> UTN</a>
					<a class="btn btn-outline-danger" style="width:152" href="{% url 'carrerProgress:logout'%}"><i class="fas fa-sign-out-alt"></i> Logout</a>
				{% else %}
					<a class="btn btn-outline-info" style="width:152" href="http://sysacadweb.frre.utn.edu.ar/"><i class="fas fa-book"></i> Sysacad</a>
					<a class="btn btn-outline-success" style="width:152" href="http://frre.cvg.utn.edu.ar"><i class="fas fa-book-reader"></i> Campus Virtual</a>
					<a class="btn btn-outline-light" style="width:152" href="http://frre.utn.edu.ar"><i class="fas fa-university"></i> UTN</a>
				{% endif %}
				</br>
			</div>
		</div>
		{% block body %}

		{% endblock %}

	</body>
</html>
