{% extends 'base.html' %}

{% block title %}
	<title>{{ subjects.name }}</title>
{% endblock %}

{% block subtitle %}
	<h2 style="color:white;font-size:50px;">{{ subjects.name }}</h2>
{% endblock %}

{% block body %}
<center>
	<div class=container" style="max-width:1300">
		<div class="table-responsive">
			<table class="table">
					<thead class="thead-dark">
						<tr>
							<th style="text-align:center">
									<h3>Usuario</h3>
							</th>
							<th style="text-align:center">
									<h3>Incripcion</h3>
							</th>
							<th style="text-align:center">
									<h3>Anio</h3>
							</th>
							<th style="text-align:center">
									<h3>Estado</h3>
							</th>
							<th style="text-align:center">
								<h3>Calificacion</h3>
							</th>
							<th style="text-align:center">
								<h3> Jefe de Catedra </h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>
								<p style="font-size:20">{{ user.get_username }}</p>
							</th>
							<th>
								<p style="font-size:20">{{ enrolled.year }}</p>
							</th>
							<th>
								<p style="font-size:20">{{ enrolled.subject.year }}</p>
							</th>
							<th>
								{% if enrolled.state %}
									<p style="font-size:20">{{ enrolled.state }}</p>
								{% else %}
									<p style="font-size:20">Sin cursar</p>
								{% endif %}
							</th>
							<th>
								<p style="font-size:20">{{ enrolled.calification }}</p>
							</th>
							<th>
								<p style="font-size:20">{{ subjects.subject_professor }}</p>
							</th>
						</tr>
					</tbody>
			</table>
			<div id="vue">
				<div class="container" v-if="seen">
					<div class="table-responsive">
							<table class="table" style="max-width:1300">
								<thead class="thead-dark">
									<tr>
										<h3> Requerimientos</h3>
									</tr>
									<tr>
										<th>
											<h4> Materias Regularizadas: </h4>
										</th>
										<th v-if="materiasA.show">
											<h4> Materias Aprobadas: </h4>
										</th>
									</tr>
								</thead>
								<tbody>
									</tr>
										<th>
											<ul class="list-group">
												<li v-for="materia in materias" class="list-group-item ">
													<h5>${ materia.name }</h5>
												</li>
											</ul>
										</th>
										<th v-if="materiasA.show">
											<ul class="list-group">
												<li v-for="materia in materiasA.elements" class="list-group-item">
													<h5>${ materia.name }</h5>
												</li>
											</ul>
										</th>
									</tr>
								</body>
							</ul>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</center>
<script>

	var sub_req = data_set('{{ subjects.requirements }}'); 

	var app = new Vue({
	el: "#vue",
	delimiters: ["${","}"],
	data: {
		seen: sub_req.show,
		materias: sub_req.requirements.Regularizadas,
		materiasA: {
			elements: sub_req.requirements.Aprobadas,
			show: isEmpty(sub_req.requirements.Aprobadas) 
		}
	}
});

</script>

<style>
	#titleISI {
		text-align: center;
	}
	th {
		text-align: center;
		max-width:200px;
		align-content: center; 
	}
	body {
		font-family: 'Roboto';
		font-size: 22px;
	}
</style>

{% endblock %}

