
{% extends "base.html" %}

{% block body %}
<body>
	<div class="table-responsive">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">
							Primer Anio
							<div class="progress ">
									<div class="progress-bar" role="progressbar" style="width: {{ PrimerAnioAprobado.total }}%"  aria-valuemin="0" aria-valuemax="{{ PrimerAnio|length }}"></div>
							</div>
					</th>
					<th scope="col">
							Segundo Anio
							<div class="progress">
									<div class="progress-bar" role="progressbar" style="width: {{ SegundoAnioAprobado.total }}%" aria-valuemin="0" aria-valuemax="{{ SegundoAnio|length }}"></div>
							</div>
					</th>
					<th scope="col">
							Tercer Anio
							<div class="progress">
									<div class="progress-bar" role="progressbar" style="width: {{ TercerAnioAprobado.total }}%"  aria-valuemin="0" aria-valuemax="{{ TercerAnio|length }}"></div>
							</div>
					</th>
					<th scope="col">
							Cuarto Anio
							<div class="progress">
									<div class="progress-bar" role="progressbar" style="width: {{ CuartoAnioAprobado.total }}%"  aria-valuemin="0" aria-valuemax="{{ CuartoAnio|length }}"></div>
							</div>
					</th>
					<th scope="col"> 
							Quinto Anio
							<div class="progress">
									<div class="progress-bar" role="progressbar" style="width: {{ QuintoAnioAprobado.total }}%"  aria-valuemin="0" aria-valuemax="{{ QuintoAnio|length }}"></div>
							</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>
					{% for subjects in PrimerAnio %}
						<li>
							<a  class="list-group-item list-group-item-action list-group-item-active"href="{% url 'carrerProgress:detail' subjects.id %}"> {{ subjects.name }}</a>
						</li>
						</br>
					{% endfor %}
					</th>
					<th>
					{% for subjects in SegundoAnio %}
						<li>
							<a  class="list-group-item list-group-item-action" href="{% url 'carrerProgress:detail' subjects.id %}"> {{ subjects.name }}</a>
						</li>
						</br>
					{% endfor %}
					</th>
					<th>
					{% for subjects in TercerAnio %}
						<li>
							<a class="list-group-item list-group-item-action"  href="{% url 'carrerProgress:detail' subjects.id %}"> {{ subjects.name }}</a>
						</li>
						</br>
					{% endfor %}
					</th>
					<th>
					{% for subjects in CuartoAnio %}
						<li>
							<a  class="list-group-item list-group-item-action" href="{% url 'carrerProgress:detail' subjects.id %}"> {{ subjects.name }}</a>
						</li>
						</br>
					{% endfor %}
					</th>
					<th>
					{% for subjects in QuintoAnio %}
						<li>
							<a  class="list-group-item list-group-item-action" href="{% url 'carrerProgress:detail' subjects.id %}"> {{ subjects.name }}</a>
						</li>
						</br>
					{% endfor %}
					</th>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}
