<html>
		{% extends 'base.html' %}
	<head>
			<title>Login</title>
	</head>
	<body>
			{% block body %}
			<center>
				<div class="jumbotron">
				<form method="post">
					{% csrf_token %}
					{{ form.as_p }}
				<button class="btn btn-outline-success" type="submit" value="login">Loggin</button>
				</form>
</div>
			</center>
			{% endblock %}
					
	</body>
	
<style>
</style>
</html>
