.bg {
	background-image: url('./code2.jpg');
}

.TitleISI {
	color: white;
}

.li {
columns: 2;
-webkit-columns: 2;
-moz-columns: 2;
}

#titleISI {
	text-align: center;
}
th {
	text-align: center;
	max-width:200px;
	align-content: center; 
}
.listofsubjects {
	-webkit-columns: 200px 3;
	-moz-columns: 200px 3;
	columns: 300px 3;
}
a {
		font-size: 14px;
}
.progress_bar {
		align-content: center;
		max-width: 300px;
		padding-left: 50px;
}
li{
		list-style-type: none;
}
body {
	font-family: 'Roboto';
	font-size: 22px;
}
